html, 
body,
main,
main > div,
main > div > #left-panel,
main #app-panel-wrapper {
    height:100%
}

input {
    border: 20px solid transparent;
    outline: none;
    width: 100%;
    font-style: italic;
}

hr {
    border: 0 solid lightgrey;
    border-top-width: 1px;
    margin-top: 0;
}

button:focus { outline:0; }

#logo {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

#main-call {
    background: black;
    display: none;
    position: relative;
}

#username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#local-video {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 2px;
    width: 20%;
}

#remote-video {
    width: 100%;
    height: 100%;
}

.app-spinner {
    position: absolute;
    right: calc(50% - 60px);
    top: calc(50% - 60px);
    font-size: 120px;
    color: #00a0ec;
}

#left-panel {
    border-right: 1px solid lightgrey;
    float: left;
    padding: 10px 10px 30px 10px;
    width: 309px;
}

#left-panel .user-data {
    margin: 0 0 15px 20px;
}

#left-panel-mobile-menu-show-btn  {
    background: white;
    border: 0 solid lightgrey;
    padding: 20px 0 14px 0;
    border-width: 0 1px 0 0;
    font-size: 20px;
}

.user-avatar {
    border: 1px solid #00AFF0;
    border-radius: 100%;
    color: #00AFF0;
    font-size: 60px;
    overflow: hidden;
}

.user-name {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 60px);
}

#left-panel .user-data .user-name {
    margin-top: 10px;
    width: calc(100% - 80px);
}

#left-panel .user-data .media-left {
    display: inline-block;
}

#app-panel-selector {
    margin: 0;
    padding: 0;
}

#app-panel-selector li {
    display: inline;
}

#app-panel-selector i {
    color: #00AFF0;
    cursor: pointer;
    font-size: 22px;
    padding: 5px;
    border-radius: 15px;
    transition: 0.5s;
}

#app-panel-selector i.glyphicon {
    font-size: 20px;
}

#app-panel-selector i.active {
    color: white;
    background: #00AFF0;
}

#app-panel-wrapper {
    padding: 0;
    width: 100%;
}

#app-panel-wrapper .app-panel {
    background: aliceblue;
    display: none;
    overflow: hidden;
    height: 100%;
}

#app-panel-wrapper .app-panel .app-panel-content {
    height: calc(100% - 123px);
    margin: 20px 10px;
    overflow-y: auto;
    position: relative;
}

#chat-contact-wrapper {
    border: 0 solid lightgrey;
    border-bottom-width: 1px;
    height: 80px;
    position: relative;
}

#chat-contact-avatar {
    border: 1px solid #00AFF0;
    border-radius: 100%;
    color: #00AFF0;
    font-size: 45px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 15px;
}

#chat-contact-name {
    position: absolute;
    top: 15px;
    left: 75px;
    font-size: 18px;
    color: black;
}

#chat-contact-status {
    position: absolute;
    top: 45px;
    left: 75px;
    font-size: 12px;
    font-style: italic;
    color: grey;
}

#chat-message-wrapper {
    height: calc(100% - 82px - 63px);
    border: 0 solid lightgrey;
    border-bottom-width: 1px;
    margin: 0;
    padding: 5px 10px;
}

#chat-input {
    position: relative;
}

.local-message,
.remote-message {
    list-style: none;
    margin-top: 5px;
}

.remote-message {
    text-align: right;
}

.local-message span,
.remote-message span {
    background: #cddc39;
    padding: 3px 6px;
    border-radius: 5px;
}

.remote-message span {
    background: #81d4fa;
}

button.app-button {
    position: absolute;
    background: transparent;
    border: 0;
}

button.app-button span {
    background: #81d4fa;
    border-radius: 100%;
    font-size: 18px;
    padding: 10px;
    color: white;
}

button.app-button span:hover {
    background: #00AFF0;
}

#chat-call-button {
    right: 10px;
    top: 18px;
}

#chat-send-button {
    top: 12px;
    right: 40px;
}

#end-call-button {
    bottom: 50px;
    right: calc(50% - 19px);
}

#end-call-button span {
    background: #e57373;
    font-size: 50px;
}

#end-call-button span:hover {
    background: #f44336;
}

button.app-button-disabled > span {
    background: darkgrey;
}

button.app-button-disabled > span:hover {
    background: darkgrey;
    cursor: not-allowed;
}

.show-user {
    cursor: pointer;
    list-style-type: none;
    padding: 5px;
    box-sizing: border-box;
}

.show-user .media {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 15px 12px;
    white-space: nowrap;
}

.show-user .media-left {
    display: inline-block;
}

#search-users-wrapper {
    height: calc(100% - 82px     - 63px);
    overflow: scroll;
    border: 0 solid lightgrey;
    margin: 0;
}

.search-user-avatar{
    font-size: 3.1em;
    vertical-align: middle;
}

.search-user-name {
    font-size: 18px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search-user-status {
    color: grey;
    left: 75px;
    font-size: 12px;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 45px;
    white-space: nowrap;
}

.show-chat-history-user {
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    white-space: nowrap;
}
.show-chat-history-user-name {
    vertical-align: middle;
    width: calc(100% - 60px);
}
.show-chat-history-user-name, .show-chat-history-user-status{
    font-size: 10px;
}

.show-chat-history-user-avatar{
    font-size: 2.1em;
    vertical-align: middle;
}

#chat-message-wrapper{
    overflow-y: auto;
}
