html, body {
    height: 100%;
}

main {
    height: calc(100% - 51px);
}

.login-box {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    margin: 70px auto;
    max-width: 350px;
    padding: 20px;
}

.login-box h1 {
    margin: 0 0 15px 0;
}

.login-box button {
    margin-top: 5px;
    width: 100%;
}
