{% extends 'base.html.twig' %}

{% set CLS_APP_PANEL = "app-panel" %}
{% set ID_CHAT = "js-chat" %}
{% set ID_JS_SEARCH_CONTACT = "js-search-contact" %}
{% set ID_JS_SEARCH_USER = "js-search-user" %}
{% set ID_SEARCH_USER_CONTENT = "search-user-content" %}
{% set ID_SEARCH_USER_WRAPPER = "search-users-wrapper" %}
{% set ID_SEARCH_CONTACT_WRAPPER = "search-contacts-wrapper" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('app/css/app.css') }}" />
{% endblock %}

{% block main %}
    <main>
        <div id="main-app">
            <aside id='left-panel' class="hidden-xs">
                <div id='logo'>
                    <a href="{{ url('home') }}">
                        TFM
                    </a>
                </div>
                <hr />
                <div class="user-data media">
                    <div class="media-left">
                        <a href="#">
                            <span class="glyphicon glyphicon-user user-avatar"></span>
                        </a>
                    </div>
                    <div class="media-body user-name">
                        <h4 id='username' data-username='{{ app.user.getUsername() }}' class="media-heading">{{ app.user.getUsername() }}</h4>
                        <span>
                            <p><span class='fa fa-circle text-success'></span> Connected</p>
                        </span>
                    </div>
                </div>
                <hr />
                <ul id="app-panel-selector">
                    <li>
                        <i class="glyphicon glyphicon-search active app-panel-selector-icon" data-panel="{{ ID_SEARCH_USER_WRAPPER }}"></i>
                    </li>
                    <li>
                        <i class="fa fa-address-book-o app-panel-selector-icon" data-panel="{{ ID_SEARCH_CONTACT_WRAPPER }}"></i>
                    </li>
                </ul>
                <ul id="chat-history"></ul>
            </aside>
            <div id="app-panel-wrapper" class='container-fluid'>
                <div class="{{ CLS_APP_PANEL }} row" id="{{ ID_SEARCH_USER_WRAPPER }}">
                    {{ _self.createPanelContent(ID_JS_SEARCH_USER, "Search users in tfm", ID_SEARCH_USER_CONTENT) }}
                </div>
                <div class="{{ CLS_APP_PANEL }}" id="{{ ID_SEARCH_CONTACT_WRAPPER }}">
                    {{ _self.createPanelContent(ID_JS_SEARCH_CONTACT, "Search contacts", "search-contact-content") }}
                </div>
                <div class="{{ CLS_APP_PANEL }}" id="{{ ID_CHAT }}" >
                    <div id="chat-contact-wrapper">
                        <a href="#">
                            <span id="chat-contact-avatar" class="glyphicon glyphicon-user chat-contact-avatar"></span>
                            <div id="chat-contact-name">
                                Fake name
                            </div>
                            <div id="chat-contact-status">
                                status
                            </div>
                        </a>
                        <button type="button" id="chat-call-button" class="app-button" title="Make Call">
                            <span class="glyphicon glyphicon-facetime-video"></span>
                        </button>
                    </div>
                    <ul id="chat-message-wrapper"></ul>
                    <div id="chat-input">
                        <input placeholder="Write a message"/>
                        <button id="chat-send-button" class="app-button app-button-disabled" title="Send" disabled="">
                            <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-call">
            <video id="local-video" autoplay></video>
            <video id="remote-video" autoplay></video>
            <button id="end-call-button" class="app-button" title="End">
                <span class="glyphicon glyphicon-remove-sign"></span>
            </button>
        </div>
    </main>

    {% macro createPanelContent(inputId, placeholder, contentId) %}
        <div class="container-fluid">
            <div class="row">
                <button 
                    id="left-panel-mobile-menu-show-btn"
                    class="visible-xs-inline-block col-xs-2"
                    type="button"
                >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>

                <input
                    id="{{ inputId }}"
                    class="col-xs-10 col-sm-12"
                    placeholder="{{ placeholder }}"
                    autofocus
                    type="text"
                />
            </div>
        </div>

        <hr />

        <div
            class="app-panel-content"
            id="{{ contentId }}"
        >
            <p>No results.</p>
        </div>
    {% endmacro %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/socket.io-client/dist/socket.io.slim.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/webrtc-adapter/out/adapter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('dist/index.js') }}"></script>
{% endblock %}
