{% extends 'brand.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('app/css/home.css') }}" />
{% endblock %}

{% block main %}
    <main>
        <div
            id="base-carousel"
            class="carousel slide"
            data-ride="carousel"
            data-interval="6000"
            data-pause="false"
        >
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#base-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#base-carousel" data-slide-to="1"></li>
                <li data-target="#base-carousel" data-slide-to="2"></li>
                <li data-target="#base-carousel" data-slide-to="3"></li>
                <li data-target="#base-carousel" data-slide-to="4"></li>
                <li data-target="#base-carousel" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img
                        src="{{ asset('app/img/home/business_videocall.png') }}"
                        alt="Business videocall"
                    />
                    <div class="carousel-caption">
                        <h3>Business high quality videoconference</h3>
                        <p>Take your business to the next level</p>
                    </div>
                </div>
                <div class="item">
                    <img
                        src="{{ asset('app/img/home/less_distance_relationship.jpg') }}"
                        alt="Distance relationship"
                    />
                    <div class="carousel-caption">
                        <h3>Feel your partner closer</h3>
                    </div>
                </div>
                <div class="item">
                    <img
                        src="{{ asset('app/img/home/online_education.jpg') }}"
                        alt="Online education"
                    />
                    <div class="carousel-caption">
                        <h3>Online education</h3>
                        <p>Connect to teachers and learn everything you need</p>
                    </div>
                </div>
                <div class="item">
                    <img
                        src="{{ asset('app/img/home/family_videocall.jpg') }}"
                        alt="Family"
                    />
                    <div class="carousel-caption">
                        <h3>Enjoy your family!</h3>
                        <p>Even when you are abroad</p>
                    </div>
                </div>
                <div class="item">
                    <img
                        src="{{ asset('app/img/home/openning_doors.jpg') }}"
                        alt="Opening doors"
                    />
                    <div class="carousel-caption">
                        <h3>Make a safe bet</h3>
                        <p>Your family and business will apreciate it</p>
                    </div>
                </div>
                <div class="item">
                    <img
                        src="{{ asset('app/img/home/business_woman_videocall.jpg') }}"
                        alt="Business woman videoconferencing"
                    />
                    <div class="carousel-caption">
                        <h3>Efficient and fast</h3>
                        <p>Webconference has never been so fast</p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            {#<a class="left carousel-control" href="#base-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#base-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>#}
        </div>

        <h2 class="text-center">Take advantage of a FREE power call system... Online!</h2>
        <div id="cs-app-actions" class="row text-center">
            <div class="col-md-4">
                <div class="thumbnail">
                    <span class="glyphicon glyphicon-earphone text-primary cs-app-action" aria-hidden="true"></span>
                    <div class="caption">
                        <h3>Audiocall</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <span class="glyphicon glyphicon-facetime-video text-primary cs-app-action" aria-hidden="true"></span>
                    <div class="caption">
                        <h3>Videocall</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <i class="fa fa-comments text-primary cs-app-action" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>Chat</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
