{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('app/css/brand.css') }}" />
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url('home') }}">{{ project_name }}</a>
                </div>

                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">FAQ</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ url('app') }}">Open app</a></li>
                            <li><a href="{{ url('security_logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url('security_login') }}">Login</a></li>
                            <li><a href="{{ url('user_signup') }}">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block footer %}
    <footer>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <p class="navbar-text pull-left">© {{ "now"|date("Y") }} - {{ project_name }}</p>
                <ul class="nav navbar-nav">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms and policies</a></li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}
