{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('app/css/login.css') }}" />
{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="login-box bg-info">
                <a href="{{ url('home') }}">TFM</a>
                <h1>Sign up</h1>

                {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first, {
                        'label': 'Password'
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label': 'Repeat password'
                    }) }}

                    <button
                        type="submit"
                        class="btn btn-primary"
                        formnovalidate
                    >
                        Register
                    </button>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
