{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('app/css/login.css') }}" />
{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="login-box bg-info">
                <a href="{{ url('home') }}">TFM</a>
                <h1>Login</h1>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}

                    <button
                        type="submit"
                        class="btn btn-success"
                    >
                        Login <span class="fa fa-lock"></span>
                    </button>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
